@{
    Dictionary<string, string> NavLinks = Context.Session.GetObjectFromJson<Dictionary<string, string>>("NavLinks");
    string? ActiveLink = Context.Session.GetString("ActiveLink");
}

<link rel="stylesheet" href="/css/style.css">
<div class="navBar" id="navBar">
    <h1 id="navLogo">Axon</h1>
    <div id="navLinkContainer">
        @foreach (var Link in NavLinks)
        {
            if(ActiveLink == @Link.Key) {
                <a href="@Link.Value">
                    <h2 style="color: #0095ff;">@Link.Key</h2>
                </a>
            } else{
                <a href="@Link.Value">
                    <h2>@Link.Key</h2>
                </a>
            }
        }
    </div>
</div>