@{
    Dictionary<string, string> navLinks;
    bool loggedIn = false;
    string? ActiveLink = Context.Session.GetString("ActiveLink");
    if(ActiveLink == "Home" || ActiveLink == "Register" || ActiveLink == "Login")
    {
        navLinks = new Dictionary<string, string>()
        {
            {"Home", "/"},
            {"Register", "/register"},
            {"Login", "/login"}
        };
    }
    else
    {
        loggedIn = true;
        navLinks = new Dictionary<string, string>()
        {
            {"Dashboard", "/"},
            {"Placeholder", "/"}
        };
    }
}

<link rel="stylesheet" href="/css/style.css">
<div class="navBar" id="navBar">
    <h1 id="navLogo">Axon</h1>
    <div id="navLinkContainer">
        @foreach (var Link in navLinks)
        {
            if(ActiveLink == @Link.Key) {
                <a href="@Link.Value">
                    <h2 style="color: #0095ff;">@Link.Key</h2>
                </a>
            } else{
                <a href="@Link.Value">
                    <h2>@Link.Key</h2>
                </a>
            }
        }
        @if(loggedIn)
        {
            <a id="moreOptions">
                <h2 onmouseover="">+</h2>
            </a>
        }
    </div>
</div>