@model Employee

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Axon</title>
</head>
<body>
    <partial name="_NavBar"></partial>
    <partial name="_Dropdown"></partial>
    <div class="dashboardContainer">
        <partial name="_UserHeader" model="Model"></partial>
        <div id="userContent">
            <div id="userPatients"> @* Move into its own partial *@
                <div class="sectionHeader">
                    <h1 class="textShadow">Assigned Patients</h1>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Chief Complaint</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Patient p in ViewBag.AllPatients)
                        {
                            <tr>
                                <td>@p.LastName, @p.FirstName</td>
                                <td>@p.Complaint</td>
                                <td><a href="/">Chart</a> or <a href="/">Edit</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div id="userShift"> @* Move into its own partial *@
                <div class="sectionHeader">
                    <h1 class="textShadow">Shift Info</h1>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Position</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Employee e in ViewBag.Shift)
                        {
                            <tr>
                                <td>@e.FirstName @e.LastName.Substring(0, 1).</td>
                                @if(e.PrimaryRole == "Medical Assistant") 
                                {
                                    <td>Medical Asst.</td>
                                }
                                else
                                {
                                    <td>@e.PrimaryRole</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
<script src="/script/dashScript.js"></script>
</html>